# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

Debug/
Release/
x64/
x86/
ARM/
ARM64/
bin/
obj/
[Bb]uild/
[Bb]uilds/

CMakeFiles/
CMakeCache.txt
cmake-build-*/
out/

*.obj
*.pdb
*.idb
*.ilk
*.exe
*.dll
*.exp
*.pch
*.ipch
*.iobj
*.ipdb
*.tlog
*.lastbuildstate
*.log

packages/
*.nupkg

.idea/

.vscode/

# OS
Thumbs.db
Desktop.ini